<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section
            name="castle"
            type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    </configSections>

    <castle>
        <components>
            <component
                id="runSqlTask"
                type="SqlMigration.RunSqlFileTask, SqlMigration"
                lifestyle="transient">
            </component>

            <component
               id="deploymentTask"
               type="SqlMigration.DeploymentTask, SqlMigration"
               lifestyle="transient">
            </component>

            <component
               id="migrateTask"
               type="SqlMigration.MigrateDatabaseForwardTask, SqlMigration"
               lifestyle="transient">
            </component>

            <component
               id="fileIO"
               service="SqlMigration.IMigrationHelper, SqlMigration"
               type="SqlMigration.MigrationHelper, SqlMigration"
               lifestyle="transient">
            </component>

            <component
               id="fileIOWrapper"
               service="SqlMigration.IFileIO, SqlMigration"
               type="SqlMigration.FileIO, SqlMigration"
               lifestyle="transient">
            </component>

            <component
               id="sqlRunner"
               service="SqlMigration.ISqlRunner, SqlMigration"
               type="SqlMigration.SqlRunner, SqlMigration"
               lifestyle="transient">
            </component>

            <component
               id="dbConnection"
               service="System.Data.IDbConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               type="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               lifestyle="transient">
            </component>

            <component
                id="tsqlMigration"
                type="SqlMigration.TSqlMigration, SqlMigration"
                lifestyle="transient">
            </component>
        </components>
    </castle>


</configuration>